<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-viewer-css">
    	<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
		<link rel="stylesheet" th:href="@{/css/fonts_googleapis.css}" href="../../css/fonts_googleapis.css" type="text/css"/>
		<link rel="stylesheet" th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" 
			href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" type="text/css" />
		 
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"/>
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}"/>
		<link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<link href="../../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/plugins/datatables/datatables.min.css}"/>
		<link href="../../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}"/>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL STYLES -->
		<link href="../../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" 
			th:href="@{/assets/global/css/components.min.css}"/>
		<link href="../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/global/css/plugins.min.css}"/>
		<!-- END THEME GLOBAL STYLES -->
		<!-- BEGIN THEME LAYOUT STYLES -->
		<link href="../../assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/layouts/layout2/css/layout.min.css}"/>
		<link href="../../assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" 
			th:href="@{/assets/layouts/layout2/css/themes/blue.min.css}"/>
		<link href="../../assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" 
			th:href="@{/assets/layouts/layout2/css/custom.min.css}"/>
		<!-- END THEME LAYOUT STYLES -->
		
		<link rel="shortcut icon" type="image/x-icon" href="../../assets/global/plugins/owl-carousel/assets/ico/faviconlajoya.ico" />	
    </div>
</head>
<body>
	<div th:fragment="header-invoice">
	    <!-- this is header -->
	    <nav class="navbar navbar-inverse">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand" th:href="@{/}">Grifo</a>
	            </div>
	            <div id="navbar" class="collapse navbar-collapse">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a th:href="@{/home}">Inicio</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
	</div>

</body>
</html>