<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="react-invoicing">
		<div id="react-invoicing-id"></div>
		
		<script type="text/javascript" src="webjars/react/15.6.1/react.js"></script>
       	<script type="text/javascript" src="webjars/react-dom/15.6.1/dist/react-dom.js"></script>
       	<script type="text/javascript" src="../../js/babel.js"></script>
       	<script type="text/javascript" src="../../js/react-maskedinput.js"></script>
       	<script type="text/javascript" src="../../js/prop-types.js"></script>
		<script type="text/javascript" src="../../js/react-to-print.js"></script>
		<script type="text/javascript" src="../../js/qrcode.js"></script>
		<script type="text/javascript" src="../../js/moment.js"></script>
		<script type="text/javascript" src="../../js/moment-timezone-with-data.js"></script>
		<script type="text/babel" src="../../components/react-invoicing.js"></script>
	</div>
</body>
</html>