<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   	<div th:replace="fragments/header :: header-css"/>
   	<div th:replace="fragments/invoice-header :: header-viewer-css"/>    
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid" style="background-color:white;">
	
	<div th:replace="fragments/search-header :: header"/>
	
	<div class="container" style="min-height: 500px">

	    <div class="starter-template">
	
           		<div class="page-container">
            		<div class="page-content-wrapper">
		                <!-- BEGIN CONTENT BODY -->
		                <div class="page-content">
			            	Status: <span id="errorAlert"></span>
		                    <div class="invoice">
			                     <div class="row invoice-logo">
						              <div class="col-xs-6 invoice-logo-space">
						                  <img src="../assets/pages/media/invoice/lajoya.png" class="img-responsive" alt="" /> </div>
						              <div class="col-xs-6">
						                  <p> <strong class="uppercase "><span id="invoiceType"></span> ELECTRÓNICA</strong> <br/>
						                      <span class="muted"> RUC: 20501568776  </span><br/>
						                      <span class="muted bold" id="invoiceNbr"></span>
						                  </p>
						              </div>
						          </div>
			                     <hr/>
			                     <div class="row">
						              <div class="col-md-12">
						                  <ul class="list-unstyled">
						                      <li><strong>  La Joya de Santa Isabel EIRL </strong></li>
						                      <li> Av. Miguel Grau Mza B Lote 1-2 </li>
						                      <li> Lima - Lima - Ate </li>
						                      <li> +51 356 0345 </li>
						                  </ul>
						              </div>
					              </div>
					              <div class="portlet-body form">
        		
						    	      <div class="row">
							    	      <div class="col-md-3">
								              <div class="form-group">
								                  <label class="control-label">Fecha</label>: 
								                  <span id="dateId"></span>
								                  
								              </div>
								          </div>
						    	      	  <div class="col-md-2">
						    	              <div class="form-group">
						    	                  <label class="control-label"><span id="clientDocType"></span></label>: 
						    	                  <span id="clientDocNumber"></span>
						    	              </div>
						    	          </div>
						    	          <div class="col-md-2">
						    	              <div class="form-group">
						    	                  <label class="control-label"><span id="clientNameVrb"></span></label>: 
						    	                  <span id="clientName"></span>
						    	              </div>
						    	          </div>
						              </div>
						              <div class="row">
						    	          <div class="col-md-5">
						    	              <div class="form-group">
						    	                  <label class="control-label">Dirección: </label>
						    	                  <span id="clientAddress"></span>
						    	              </div>
						    	          </div>
						    	          <div class="col-md-2 selectedOption" > <!-- {this.state.selectedOption != 'boleta' && -->
						    	              <div class="form-group">
						    	                  <label class="control-label">Nro de Placa: </label>
						    	                  <span id="truckPlateNumber"></span>
						    	              </div>
						    	          </div>
							          </div>
					              </div>
			                     <div class="row">
			                         <div class="col-xs-12">
			                             <table class="table table-striped table-hover">
			                                 <thead>
			                                     <tr>
			                                         <th class="text-center"> Producto </th>
			                                         <th class="text-center"> Cantidad </th>
			                                         <th class="text-center"> Precio </th>
			                                         <th class="text-center"> Importe </th>
			                                     </tr>
			                                 </thead>
			                                 <tbody>
			                                     <tr id="d2Row">
			                                         <td> 01-Diesel 2 </td>
			                                         <td class="text-right"> <span id="galsD2"></span> </td>
			                                         <td class="text-right"> S/ <span id="priceD2"></span> </td>
			                                         <td class="text-right"> S/ <span id="solesD2"></span> </td>
			                                     </tr>
			                                     <tr id="g90Row">
			                                         <td> 02-Gas 90 </td>
			                                         <td class="text-right"> <span id="galsG90"></span> </td>
			                                         <td class="text-right"> S/ <span id="priceG90"></span> </td>
			                                         <td class="text-right"> S/ <span id="solesG90"></span> </td>
			                                     </tr>
			                                     <tr id="g95Row">
			                                         <td> 03-Gas 95 </td>
			                                         <td class="text-right"> <span id="galsG95"></span> </td>
			                                         <td class="text-right"> S/ <span id="priceG95"></span> </td>
			                                         <td class="text-right"> S/ <span id="solesG95"></span> </td>
			                                     </tr>
			                                 </tbody>
			                             </table>
			                         </div>
			                     </div>
			                     <div class="row">
			                         <div class="col-xs-4">
			                             <div class="well">
			                                  <address>
								                  <strong>SON:</strong>
							                      <br/> <span id="totalVerbiage"></span>
							                      <br/>
							                  	  <strong>Código Hash:</strong>
							                      <br/> <span id="invoiceHash"></span>
							                	  <br/>
							                  </address>
							                  <address>
							                      <strong>Potenciado por:</strong>
							                      <a> www.grifoslajoya.com </a>
							                  </address>
			                             </div>
			                         </div>
			                         <div class="col-xs-4">
			                             <div class="well">
			                                  <address>
							                      <strong>Código QR:</strong>
							                  </address>
							                  <div style="width: '150px'; height: '150px'; display: 'block'; margin: 'auto'; zoom: 0.3" >
									          	<div id="qrcode1" class="col-xs-12 col-md-offset-3" ></div>
									          </div>
			                             </div>
			                         </div>
			                         <div class="col-xs-4 invoice-block">
			                             <ul class="list-unstyled amounts">
			                                 <li>
			                                     <strong>Subtotal:</strong> S/ <span id="subTotal"></span> </li>
			                                 <li>
			                                     <strong>IGV (18%)</strong> S/ <span id="totalIGV"></span> </li>
			                                 <li>
			                                     <strong>Total:</strong> S/ <span id="total"></span> </li>
			                             </ul>
			                             <a class="btn blue hidden-print margin-bottom-5" onclick="javascript:window.print();" > Imprimir
			                                 <i class="fa fa-print"></i>
			                             </a>
			                         </div>
			                    </div>
		                	</div>
	                	</div>
                	</div>
               	</div>
	    </div>
	
	</div>
	
	<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/qrcode.js"></script>
	<script type="text/javascript" src="../../js/moment.js"></script>
	<script type="text/javascript" src="../../js/moment-timezone-with-data.js"></script>
	<script type="text/javascript" src="../../js/invoice-viewer.js"></script>
	<div th:replace="fragments/invoice-footer :: invoice-footer"/>
</body>
</html>